src/conf/xml-resources/web-service-references/TransparenciaWS/wsdl/transparenciaws.azurewebsites.net/TransparenciaWS.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://transparenciaws.azurewebsites.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://transparenciaws.azurewebsites.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://transparenciaws.azurewebsites.net/">
      <s:element name="getTotalDespesa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wNomeCidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wAno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wMes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wDominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wSubDominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wNatureza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wFonte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wTipoLicitacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTotalDespesaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTotalDespesaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListaDespesa">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="wNomeCidade" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wAno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wMes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wDominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wSubDominio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wNatureza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wFonte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="wTipoLicitacao" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getListaDespesaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getListaDespesaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTotalDespesaSoapIn">
    <wsdl:part name="parameters" element="tns:getTotalDespesa" />
  </wsdl:message>
  <wsdl:message name="getTotalDespesaSoapOut">
    <wsdl:part name="parameters" element="tns:getTotalDespesaResponse" />
  </wsdl:message>
  <wsdl:message name="getListaDespesaSoapIn">
    <wsdl:part name="parameters" element="tns:getListaDespesa" />
  </wsdl:message>
  <wsdl:message name="getListaDespesaSoapOut">
    <wsdl:part name="parameters" element="tns:getListaDespesaResponse" />
  </wsdl:message>
  <wsdl:portType name="TransparenciaWSSoap">
    <wsdl:operation name="getTotalDespesa">
      <wsdl:input message="tns:getTotalDespesaSoapIn" />
      <wsdl:output message="tns:getTotalDespesaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getListaDespesa">
      <wsdl:input message="tns:getListaDespesaSoapIn" />
      <wsdl:output message="tns:getListaDespesaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransparenciaWSSoap" type="tns:TransparenciaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTotalDespesa">
      <soap:operation soapAction="http://transparenciaws.azurewebsites.net/getTotalDespesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaDespesa">
      <soap:operation soapAction="http://transparenciaws.azurewebsites.net/getListaDespesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TransparenciaWSSoap12" type="tns:TransparenciaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTotalDespesa">
      <soap12:operation soapAction="http://transparenciaws.azurewebsites.net/getTotalDespesa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getListaDespesa">
      <soap12:operation soapAction="http://transparenciaws.azurewebsites.net/getListaDespesa" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransparenciaWS">
    <wsdl:port name="TransparenciaWSSoap" binding="tns:TransparenciaWSSoap">
      <soap:address location="http://transparenciaws.azurewebsites.net/TransparenciaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TransparenciaWSSoap12" binding="tns:TransparenciaWSSoap12">
      <soap12:address location="http://transparenciaws.azurewebsites.net/TransparenciaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>